In [1]:
person = {"first":"William", "last":"Koch", "email": "william.koch@myhome.com"}

In [2]:
people = {"first":["William", "Jane", "John"], "last":["Koch", "Doe", "Doe"],"email": ["william.koch@myhome.com","jane.doe@myhome.com", "john.doe@myhome.com"]}

In [3]:
print(people)

{'first': ['William', 'Jane', 'John'], 'last': ['Koch', 'Doe', 'Doe'], 'email': ['william.koch@myhome.com', 'jane.doe@myhome.com', 'john.doe@myhome.com']}

In [4]:
people['email']

['william.koch@myhome.com', 'jane.doe@myhome.com', 'john.doe@myhome.com']

In [5]:
import pandas as pd

In [6]:
people_df = pd.DataFrame(people)

In [7]:
people_df

     first  last                    email
0  William  Koch  william.koch@myhome.com
1     Jane   Doe      jane.doe@myhome.com
2     John   Doe      john.doe@myhome.com

In [8]:
people_df['email']

0    william.koch@myhome.com
1        jane.doe@myhome.com
2        john.doe@myhome.com
Name: email, dtype: object

In [9]:
type(people_df['email'])

pandas.core.series.Series

In [11]:
people_df.email

0    william.koch@myhome.com
1        jane.doe@myhome.com
2        john.doe@myhome.com
Name: email, dtype: object

In [12]:
people_df['first']

0    William
1       Jane
2       John
Name: first, dtype: object

In [13]:
people_df['last']

0    Koch
1     Doe
2     Doe
Name: last, dtype: object

In [15]:
people_df[['last','first']]

   last    first
0  Koch  William
1   Doe     Jane
2   Doe     John

In [16]:
type(people_df[['last','first']])

pandas.core.frame.DataFrame

In [18]:
people_df.iloc[0]

first                    William
last                        Koch
email    william.koch@myhome.com
Name: 0, dtype: object

In [19]:
people_df.iloc[1]

first                   Jane
last                     Doe
email    jane.doe@myhome.com
Name: 1, dtype: object

In [21]:
people_df.iloc[[0,1],2]

0    william.koch@myhome.com
1        jane.doe@myhome.com
Name: email, dtype: object

In [22]:
people_df.loc[1]

first                   Jane
last                     Doe
email    jane.doe@myhome.com
Name: 1, dtype: object

In [23]:
people_df.iloc[0]

first                    William
last                        Koch
email    william.koch@myhome.com
Name: 0, dtype: object

In [25]:
people_df.loc[[0,1,2],'email']

0    william.koch@myhome.com
1        jane.doe@myhome.com
2        john.doe@myhome.com
Name: email, dtype: object

In [37]:
people_df.loc[[0,1,2],['email','last']]

                     email  last
0  william.koch@myhome.com  Koch
1      jane.doe@myhome.com   Doe
2      john.doe@myhome.com   Doe

In [38]:
people_df.shape

(3, 3)

In [39]:
dfpe = people_df.set_index('email')

In [40]:
dfpe

                           first  last
email
william.koch@myhome.com  William  Koch
jane.doe@myhome.com         Jane   Doe
john.doe@myhome.com         John   Doe

In [41]:
dfpe.index

Index(['william.koch@myhome.com', 'jane.doe@myhome.com',
       'john.doe@myhome.com'],
      dtype='object', name='email')

In [43]:
dfpe.loc['william.koch@myhome.com']

first    William
last        Koch
Name: william.koch@myhome.com, dtype: object

In [44]:
dfpe.loc['william.koch@myhome.com','last']

'Koch'